@{
    ViewData["Title"] = "Home Page";
}
<h1>Those accounts have roles </h1>
<div class="row">
    <div class="col-md-4">
        <h2>Admin account</h2>
        <ul>
            <li>Email : Admin@Admin.com</li>
            <li>Password :Admin.3289</li>
            <li>Can edit all employer info</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Manager account</h2>
        <ul>
            <li>Email : Manager@Manager.com</li>
            <li>Password :Manager.3289</li>
            <li>Can enter all employer info</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Default account</h2>
        <ul>
            <li>Email : Member@Member.com</li>
            <li>Password :Member.3289</li>
            <li>Can only enter self info</li>
        </ul>
    </div>
</div>
